@font-face {
  font-family: SplatFont; /* set name */
  src: url(Splatfont2.ttf); /* url of the font */
}

html, body {
  font-family: SplatFont; /* use font */
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #001400;
  color: white;
}

canvas {
  display: block;
  margin: auto;
}
